# Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Data Access

In [3]:
raw_data=pd.read_csv('KNN_Data.csv')
raw_data.head(3)

   Age  Salary  Purchased
0   19   19000          0
1   35   20000          0
2   26   43000          0

# Data Aa